<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<span th:text="${msg}" style="color:red"></span>
<h2>Add Employee with Generic Html Form</h2>

<form action="addEmployeeInDb" method="post">
<label>EmpId</label>
<input type="number" name="id"/><br/>
<label>EmpName</label>
<input type="text" name="name"/><br/>
<label>EmpSalary</label>
<input type="number" name="salary"/><br/>
<input type="submit" value="Add Employee">
<input type="reset" value="reset">
</form>

<hr/>
<h2>Add Employee with Thymeleaf form</h2>
<form action="addEmployeeInDb1" method="post" th:object="${employee}">
<label>EmpId</label>
<input type="number" name="id" th:field="*{id}"/><br/>
<label>EmpName</label>
<input type="text" name="name" th:field="*{name}"/><br/>
<label>EmpSalary</label>
<input type="number" name="salary" th:field="*{salary}"/><br/>
<input type="submit" value="Add Employee">
<input type="reset" value="reset">
</form>

<br/>
<a href="/">Index Page</a>

</body>
</html>

